<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <script src="js/application.js"></script>
      <title>ERB Demo</title>

      <link type="text/css" href="css/application.css" rel="stylesheet"></link>
   </head>
   <body>
      <h1>
         ERB Demo
      </h1>
      Message: <%= some_var %>
   </body>
</html>

